<!DOCTYPE html>
<html>
    <head>
	    
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>uAssitant</title>
        
        {% block stylesheets %}

	        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
	        <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
	        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>
			<link href="{{ asset('assets/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css" />
			<link href="{{ asset('assets/plugins/select2/css/select2-bootstrap4.css') }}" rel="stylesheet" type="text/css"/>

	        <script src="{{ asset('assets/js/modernizr.min.js' ) }}"></script>


			<!-- Include styles file with .env variables in styles. -->
			{{ include('base-styles.html.twig') }}
	               
        {% endblock %}
              
    </head>
    
    <body>  
    
   		 <!-- Begin page -->
	    <div id="wrapper">
    
	    	<!-- navbar -->
			<nav class="navbar navbar-expand-lg navbar-light

				{% if 'dashboard' == app.request.get('_route') %}
					bg-secondary
				{% else %}
					bg-primary
				{% endif %}
			">

				<a class="navbar-brand" href="#">
					<img src="{{ asset('assets/logo/logo.svg' ) }}" width="80" height="50" alt="">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
						{% if 'dashboard' != app.request.get('_route') %}
							{{ render(controller('App\\Controller\\HomeController::mainMenu', { 'id': app.request.get('id') })) }}
						{% endif %}
				    </ul>
				</div>
				<div class="float-right">
					{% if 'dashboard' != app.request.get('_route') %}
						<div class="badge badge-light" style="position:absolute;margin-left:30px;">0</div>
						<a href="" class="notification"><i class="mdi mdi-bell"></i></a>
					{% endif %}
				</div>
				<div class="float-right">
					{% block dashIcon %}
						
					{% endblock %}
				</div>
				{% if is_granted('ROLE_ADMIN') %}
				<div class="float-right">
					<a href="{{ path('settings') }}" class="notification"><i class="mdi mdi-settings"></i></a>
				</div>
				{% endif %}
			</nav>
			<!-- End navbar -->
			
			<div class="container-fluid">

				{% for message in app.flashes('success') %}
					<br>
					<div class="alert alert-success" role="alert" id="success-alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Success!</strong> {{ message }}
					</div>
				{% endfor %}
				
				{% for message in app.flashes('warning') %}
					<br>
					<div class="alert alert-warning" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Waarschuwing!</strong> {{ message }}
					</div>
				{% endfor %}
				
				{% for message in app.flashes('danger') %}
					<br>
					<div class="alert alert-danger" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Waarschuwing!</strong> {{ message }}
					</div>
				{% endfor %}
            </div> <!-- container -->
			
			{% block buttons %}{% endblock %}
			
	    
		
			<!-- Grid -->
	 	    <div class="container top-buffer">
	 			<div class="row">
	 				<div class="col-1"></div>
	 				<div class="col-10">
	 					{% block body %}
	 					{% endblock %}
	 				</div>
	 				<div class="col-1"></div>
	 			</div>
	 		</div>
	        <!-- End Grid -->
        
        </div>

        {% block javascripts %}  
        
        	<!-- jQuery  -->
	        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
	        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
	        <script src="{{ asset('assets/js/detect.js') }}"></script>
	        <script src="{{ asset('assets/js/fastclick.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
	        <script src="{{ asset('assets/js/waves.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.nicescroll.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>

			<script src="{{ asset('assets/js/web-animations.min.js') }}"></script>
			<script src="{{ asset('assets/js/hammer.min.js') }}"></script>
			<script src="{{ asset('assets/js/muuri.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>

			<script>
			 
			 //Close alert after x seconds:
			 window.setTimeout(function() {
			    $(".alert").fadeTo(500, 0).slideUp(500, function(){
			        $(this).remove(); 
			    });
			}, 4000);
			</script>

        {% endblock %}
        
    </body>
</html>

