{% extends 'base.html.twig' %}


{% block dashIcon %}
	<a href="{{ path('dashboard') }}" class="notification"><i class="mdi mdi-dots-vertical"></i></a>
{% endblock %}

{% block buttons %}

	<!-- Buttons -->
	<div class="row float-right top-buffer right-buffer">
		<a href="" class="button right-buffer"><i class="mdi mdi-pencil"></i></a>
		<a href="#" class="button"><i class="mdi mdi-cursor-move"></i></a>
	</div>
	<!-- End Buttons -->
	
{% endblock %}

{% block body %}
	<h2>{{ data.name }}</h2>

	<div class="grid">

		{% for data in data.buttonsInDashboards %}

				<div class="item">
					<div class="item-content">
						<!-- Safe zone, enter your custom markup -->
						<span class="icon mdi {{ data.icon }}"></span>
						<span class="tile-label">{{ data.name }}</span>
						<!-- Safe zone ends -->
					</div>
				</div>

		{% endfor %}



	</div>
	

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script>
		//Close alert after x seconds:
		window.setTimeout(function () {
			$(".alert").fadeTo(500, 0).slideUp(500, function () {
				$(this).remove();
			});
		}, 4000);


		var grid = new Muuri('.grid');
	</script>
{% endblock %}



